@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my humble abode.</h1>
    <p>Learn about enrolling at <a href="https://www.sfcollege.edu/">Santa Fe College</a>.</p>
</div>
